{% extends 'base.html.twig' %}

{% block title %}Hello IncomeController!{% endblock %}

{% block body %}

<h1> Add income</h1>

<p>Here you can add your income to the database:</p>

<ul>
    <li>amount</li>
    <li>date</li>
    <li>category</li>
    <li>comment</li>
</ul>

{{ form_errors(addIncomeForm) }}

{{ form_start(addIncomeForm) }}
    {{ form_row(addIncomeForm.amount, { label: 'Amount' }) }}
    {{ form_row(addIncomeForm.date_of_income, { label: 'Date of income' }) }}
    {{ form_row(addIncomeForm.category, { label: 'Category' }) }}
    {{ form_row(addIncomeForm.income_comment, { label: 'Comment' }) }}
    
    <button type="submit" class="btn">Add income</button>
{{ form_end(addIncomeForm) }}


{% endblock %}
